/* global style */
* {
    font-family: 'Poppins', sans-serif;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none !important;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
:root{
    --maincolor:#588CD0;
    --secondarycolor:#fff;
}
.navbar-toggler:focus,.form-select:focus{
    box-shadow: none !important; 
}
.navbar-collapse{
    flex-grow: 0 !important;
    margin-right: 60px;
}
.form-select{
    width: 120px !important;
}
.userIcon i{
    font-size: 20px;
} 
.register .pages p{
    cursor: pointer;
}
main{
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsla(0, 0%, 0%, 0.3);
    background-blend-mode: overlay;
}
main .textinfo h2{
    letter-spacing: 1.2px;
}
/* Sign-in Page */
.form-control:focus{
    box-shadow: none !important;;
}
.navbar{
    background-color: var(--maincolor);
}
nav{
    position: relative;
}
.leftdir{
    position: absolute ;
    top:100% ;
    right: 12% ;
}
.rightdir{
    position: absolute ;
    top:100%;
    left: 10% ;
}
#SigninBtn{
    margin-right: 55px;
}
.appearform{
    display: none;
}
.textinformation h2{
    padding: 8px;
    width: fit-content;
    border: 2px solid var(--maincolor);
}
.weathersahar a {
    cursor: pointer;
    padding: 10px;
    background-color: var(--maincolor) !important;
    color: var(--secondarycolor) !important;
}
.cards .card{
    height: 600px !important;
}
.serv-card .card img {
    margin: 0 auto !important;
}
.card_description{
    cursor: pointer;
}
.cards .item{
    width: 400px !important;
    height: 600px !important;
}
.cards .rv-item{
    width: 420px !important;
    height: 420px !important;
}
.cards > .card .user img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.salalahpage{
    margin-top: 100px;
}
.salalahpage .images .card{
    height: 250px !important;
}
@media (max-width: 768px) {
    .signinitem .signinform{
        left: 0%;
    }
}